{% extends 'base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center text-primary fw-bold">⚙ Configuración del Aplicativo</h2>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <div class="card shadow-lg p-4 mt-3">
        <div class="list-group">
            <a href="{{ url_for('config.gestionar_datos_conjunto') }}" class="list-group-item list-group-item-action d-flex align-items-center option-item">
                <i class="fas fa-cogs me-3 text-primary"></i>
                <span class="fw-bold">Configurar General</span>
            </a>
            <a href="{{ url_for('config.listar_roles') }}" class="list-group-item list-group-item-action d-flex align-items-center option-item">
                <i class="fas fa-user-shield me-3 text-primary"></i>
                <span class="fw-bold">Configurar Roles</span>
            </a>





            <a href="{{ url_for('log.listar_usuarios_logs') }}" class="list-group-item list-group-item-action d-flex align-items-center option-item">
                <i class="fas fa-comment-dots me-3 text-primary"></i>
                <span class="fw-bold">Auditoria</span>
            </a>
     

            </a>
        </div>
    </div>
</div>

<style>
    .option-item {
        transition: background-color 0.3s, color 0.3s;
    }
    .option-item:hover {
        background-color: #007bff;
        color: white;
    }
    .option-item:hover i {
        color: white;
    }
</style>

<script>
  // Esperar a que la página cargue completamente
  document.addEventListener("DOMContentLoaded", function () {
    // Seleccionar todas las alertas
    const alerts = document.querySelectorAll(".alert");

    // Configurar el tiempo de desaparición (en milisegundos)
    const tiempoDesaparicion = 5000; // 5000 ms = 5 segundos (puedes cambiarlo a 10000 para 10 segundos)

    alerts.forEach(alert => {
      // Configurar un temporizador para eliminar la alerta
      setTimeout(() => {
        alert.classList.add("fade"); // Agregar clase para animación de desvanecimiento
        setTimeout(() => alert.remove(), 500); // Eliminar el elemento después de la animación
      }, tiempoDesaparicion);
    });
  });
</script>

{% endblock %}