{% extends "base_admin.html" %}
{% block title %}Detalle de Secador{% endblock %}

{% block content %}
<h2>Detalles de Máquina Secadora: {{ maquina.nombre }}</h2>
<ul>
    <li><strong>Ubicación:</strong> {{ maquina.ubicacion }}</li>
    <li><strong>Temperatura Máxima:</strong> {{ maquina.temperatura_max }}°</li>
    <li><strong>Temperatura Mínima:</strong> {{ maquina.temperatura_min }}°</li>
    <li><strong>Velocidad:</strong> {{ maquina.velocidad }} rpm</li>
    <li><strong>Producción mínima:</strong> {{ maquina.produccion_min }} u/min</li>
    <li><strong>Tiempo de Secado:</strong> {{ datos.tiempo_secado }} minutos</li>
</ul>
<a href="{{ url_for('maquinas.lista_maquinas') }}">← Volver al listado</a>
{% endblock %}
